body{
    padding: 0;
    margin: 0;
    font-family:TimesNewRoman;
}
html{
    scroll-behavior: smooth;
}

#img_menu{
    width: 100%;
    height: 1000px;
    position: absolute;
    

}
#right-menu{
    width: 50%;
    height:1000px;
    background-image:linear-gradient(to bottom right, #610B21, #190202);
    position: relative;
    margin-left:50%;
    opacity:0.8;
    color:white;

   
}
#right-menu h1{
    padding-top:350px;
    text-align:center;
    font-size:60px; 
    text-shadow: black 0.1em 0.1em 0.2em
}
#right-menu h2{
    text-align:center;
    font-size:40px; 
    text-shadow: black 0.1em 0.1em 0.2em
}
.go_to_section{
    height:50px;
    width: 400px;
    text-align:center;
    line-height:50px;
    margin:auto;
    color:#111;
    background-color:#FFF;
    margin-top:50px;
    border-radius: 25px;
    font-size:20px;



}
.go_to_section a{
    text-decoration:none;
    color:#111;
    transition-delay: 2s;

}

/*Historia - Guilherme*/
  #historia{
  background-image:url(assets/imagens/wood.jpg);
  width: 100%;
  height: 1000px;
  }
  #margin_text{
      text-align: center;
  }
  #left_history{
      width: 35%;
      font-size: 30px;
      text-shadow: rgb(85, 85, 85) 0.1em 0.1em 0.2em;
      margin-top: 180px;
      margin-bottom: 70px;
      margin-left: 170px;
      height: 550px;
      float: left;
      border-radius: 25px;
      box-shadow: -30px -30px 15px #610B21;
  }
  #linha_vertical{
    height:850px;
    width:2px;
    float:left;
    margin-left:115px;
    margin-top:50px;
    background-color: white;
    border:1px solid #888888 ;
    
  }
  #right_history{
    background-color: rgb(241, 240, 233);
      width: 35%;
      margin-top: 260px;
      margin-bottom: 70px;
      margin-right: 170px;
      height: 550px;
      float: right;
      border-radius: 25px;
      overflow: hidden;
      box-shadow: 30px -30px 15px #610B21;
  }

/*Cardapio - Denison*/

#menu_cardapio{
    height:150px;
    width: 100%;
    background-image:linear-gradient(to bottom right, #610B21, #190202);
    color:white;
    
    float: left;

}
#menu_cardapio_left{
    max-width:20%;
    height:100%;
    padding-top:50px;
    padding-left:50px;
    float:left;
    text-shadow: black 0.1em 0.1em 0.2em
}
#menu_cardapio_meio{
    height:100%;
    width:60%;
    float: left;
    padding-top:30px;
    padding-left:30px;
}
#menu_cardapio_meio ul{
    margin-left:200px;
    
}
#menu_cardapio_meio li{
    color:black;
    float: left;
    list-style:none;
    padding-left:40px;
    padding-right: 40px;
    padding-top:50px;
    color:white;
    text-shadow: black 0.1em 0.1em 0.2em
}
#menu_cardapio_meio li button {
    border-radius: 10px;

   

}
#menu_cardapio_rigth_search{
    float: left;
    border-radius: 10px;
    margin-top:85px;
    margin-left: 30px;
}
#btn_search{
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin-top: 85px;
    margin-left:5px;
}
#meu_cardapio_vendas_salgado{
    height:1100px;
    width:1700px;
    margin:auto;
}
#meu_cardapio_vendas_doce{
    height:1100px;
    width:1700px;
    margin:auto;
    
}
#meu_cardapio_vendas_bebidas{
    height:1100px;
    width:1700px;
    margin:auto;
    
}
.escondido{
    display:none;
}
.pizza{
    /*background-color: tomato;*/
    height:200px;
    width:200px;
    text-align: center;
    margin:60px;
    margin-top: 120px;
    float: left;

}
.pizza img{
    float:left;
    margin-left: 20px
}
.pizza h4 {
    margin-top:20px;
    margin-bottom:20px;
}
#bebidas{
    margin-right: 40px;
    margin-left: 40px;
}
.btn_comprar h5{
    float:left;
    margin-left:65px;
    margin-top: 10px;
    margin-bottom:10px;
    border-radius:5px;
    border:1px solid  #610B21;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    transition: 0.8s;
}
.btn_comprar :hover{
    background-color: #610B21;
    border:1px dotted white ;
    color:white;
}
.informacao_sobre_pizza{
    height:300px;
    width:300px;
    float:left;
    background-color:#fff;
    position:absolute;
    margin-left: 200px;
    border-radius: 15px;
    border:2px solid  #610B21;
    opacity:95%;
    padding-left:15px;
    padding-right:15px;
    display: block;

}


                                            
/*Contato - Caio*/

#left-contato {
    width: 50%;
    height: 900px;
    position: relative;
    background-color: whitesmoke;
    color: black;
    float: left;
    background-image:linear-gradient #A9A9A9; 
    
}
#left-contato {
    text-align: center;
}
#ccontato{
    font-size:50px;
}


#forno {
    margin-top: 10%;
    margin-left: 20%;
    width:100px;
    height:100px;

}
#restaurante {
    margin-left: 20%;
    margin-top: 1%;
    width:100px;
    height:100px;

}
#localiza{

    text-align: center;
    margin:22%
}


#mapa {
    width: 50%;
    height: 900px;
    background-color: whitesmoke;
      color: black;
      float: right;
}


#mapa h1{
    text-align:center;
    font-size:50px;
}
#mapa iframe{
    color:#111;
    background-color:#FFF;
}
#sombra_do_mapa{
    width:620px;
    height:470px;
    border:10px solid #610B21;
    float:right;
    margin-right: 190px;
    border-radius: 5px;
   
}
#footer{
    
    height:250px;
    width:100%;
    float:left;
    text-align: center;
    color:#FFF;
    background-image:linear-gradient(to bottom right, #610B21, #190202);

}
#footer h5{
    margin:30px;
}
#menu_header{
    height:150px;
    width: 100%;
    background-image:linear-gradient(to bottom right, #610B21, #190202);
    color:white;
    float: left;
    text-align: center;
    
}
#menu_header h1{
    line-height: 150px;
    font-family:TimesNewRoman;
}
